
<app-search (onClick)="onClickSearch($event)"></app-search>
<div class="main">

  <p *ngIf="error; else mainBlock" class="error">Упс, произошла ошибка: {{error}}</p>

  <ng-template #mainBlock>
    <div *ngIf="!loading; else loadingBlock">
      <div *ngFor="let user of users | paginate : {
          itemsPerPage: per_page,
          currentPage: page,
          totalItems: total_count
        }">
        <app-user [user]="user"></app-user>
      </div>
    </div>

  </ng-template>
  <ng-template   #loadingBlock>
    <p class="loading">Загрузка....</p>
  </ng-template>

  <app-on-me [myInfo]="myInfo$ | async" [hidden]="!meBlock || noUsers"></app-on-me>

  <div [hidden]="!noUsers">
    <p class="notFoundText">Упс, по данному запросу ничего не найдено</p>
    <app-not-found></app-not-found>
  </div>

</div>

<div class="pagination" [hidden]="!meBlock && noUsers || meBlock || noUsers">
  <pagination-controls
    (pageChange)="pageChanged($event)"
  ></pagination-controls>
</div>




