<div class="main">
  <div class="input-container">
    <input class="input" type="text" placeholder="Имя пользователя..." [(ngModel)]="search" >
    <button class="btn" (click)="onSearch()">Найти</button>
  </div>

  <p *ngIf="error; else mainBlock" class="error">{{error}}</p>

  <ng-template #mainBlock>
    <div *ngIf="!loading; else loadingBlock" >
      <div *ngIf="users.length; else notFound">
        <div class="user" *ngFor="let user of users | paginate : {
          itemsPerPage: per_page,
          currentPage: page,
          totalItems: total_count
        }">
          <div class="user__foto-container" >
            <a href="{{user.html_url}}" target="_blank">
              <img src="{{user.avatar_url}}" alt="" class="user__foto" >
            </a>
          </div>
          <div class="user__profile">
            <h2 class="user__name">{{user.login | titlecase}}</h2>
            <a href="{{user.html_url}}" target="_blank" class="user__link">{{user.html_url}}</a>
          </div>
        </div>
        <div class="pagination">
          <pagination-controls
            (pageChange)="pageChanged($event)"
            previousLabel="Previous"
          ></pagination-controls>
        </div>
        </div>


    </div>
    <ng-template #notFound>
      <p>По данному запросу ничего не найдено</p>
    </ng-template>
  </ng-template>

  <ng-template #loadingBlock>
    <p>Загрузка....</p>
  </ng-template>

</div>




